.nav__customer-btn {
}
.btn__bucket {
	margin-right: 20px;
}
.btn__account {
}
.btn__search {
}

.element__button {
}
.button__arrow {
	margin-left: 8px;
}
.blogg__more {
	padding: 12px 41px;
	border: 1px solid $text-main;
	font-size: 20px;
	font-weight: 300;
	position: absolute;
	left: 43.7%;
}
.form__btn {
	padding: 12px 41px;
	border: 1px solid $text-main;
	background-color: $text-accent;
	font-size: 20px;
	width: 116px;
	height: 51px;
}
