.subscribe__include {
	display: flex;
	gap: 40px;
	align-items: end;
}
.subscribe__info {
	max-width: 580px;
}
.info__title {
	margin-bottom: 50px;
}
.info__text {
	font-size: 20px;
	line-height: 150%;
}
.subscribe__form {
}
